<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ratings</title>
  <link rel="stylesheet" href="/home.css" />
  <script src="/homeScript.js" defer></script>
</head>
<body>

  <nav class="navbar">
  <div class="logo">
    <img src="https://www.vawglobal.org/wp-content/themes/vaw/images/logo-v2.png" alt="Logo" class="logo-img" />
    <span class="logo-text">Global Health Alliance</span>
  </div>
    <ul class="nav-links">
      <li><a href="/posts">Posts</a></li>
    </ul>
  </nav>

  <header class="hero">
    <h1>Mayri's VAW Mexico Chapter</h1>
    <p>help!🌸</p>


    <a href="#" class="btn">Explore More</a>
    <br>
    
    <br>
    <h7> Comments and Posts</h7>

  </header>


<section class="programs">
  <h2 class="section-title">Programs Available</h2>
  <div class="card-container">
    
    <div class="card">
      <div class="card-image"> Here</div>
      <h3>Medical Outreach</h3>
      <p>Assist in providing general healthcare education, taking vitals, and supporting local clinics.</p>
    </div>
    

    
<div class="card-container">
      <% card.for((card) =>{ %>
<div class="card">
<img src="<%= card.image %>" alt="<%= card.title %>">
<h3><%= card.name %></h3>
<p> <% card.description %></p>
</div>


<br>
<br>

    <div class="form-section">
     <center> <h2>For More Information:</h2> </center>
      
<br>
      <center> <form action=" /contact/save" method="POST">
        <label> Name: </label>
        <input type="text" name="name"  required/>
        
        <label> Email: </label>
        <input type="text" name="email" required/>

      
        <label> Question: </label>
        <input type="text" name="question" required/>

        <button type = "submit">Submit</button>

        </form>
</center>


       

    <div class="form-grid">
      <% for (let i = 0; i < homes.length; i++) { %>
        <div class="form1-card">
          <div class="homes">
            <h2><%= homes[i].name %></h2>
            <p><strong>email:</strong> <%= homes[i].email %></p>
            <p><strong>question:</strong> <%= homes[i].question %></p>
          </div>
        </div>
      <% } %>
    </div>





</section>
<center><h7> VAW Global Health Alliances is a for-profit company | Contact Email: mc9783@nyu.edu </h7></center>

<br>
<br>


</body>
</html>
